    $main-bgc: #fff;
    $header-intro-footer-bgc: #F3D7B7;
    $collection-bgc: #F8F8F2;
    $choose-bgc: #C99B67;
    $work-bgc: #0A775F;
    $main-text-color: #333;
    $second-text-color: #000;
    $third-text-color: #fff;
    $main-font-family: "Roboto", sans-serif;