.about-intro {
    position: relative;
    padding: 116px 0 227px;
    background-color: $header-intro-footer-bgc;
    background-image: url("../images/about-intro-bg.png"), url("../images/bgi-header.png");
    background-repeat: no-repeat;
    background-size:  710px 596px, 100%;
    background-position: calc(50% + 415px) bottom, center center;
    background-blend-mode: normal, overlay;

    &::before {
        position: absolute;
        top: -60px;
        left: calc(50% - 27px);
        display: block;
        width: 160px;
        height: 160px;
        background-image: url("../images/img1.png");
        background-repeat: no-repeat;
        background-size: 160px 160px;
        content: '';
    }
}
.about-div {
    width: 490px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .about-intro {
    background-image: url("../images/about-intro-bg@2x.png"), url("../images/bgi-header@2x.png");
  }
  .about-intro::before {
        background-image: url("../images/img1@2x.png");
  }
} 