.footer {
    padding: 65px 50px;
    background-image: url("../images/bgi-header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $header-intro-footer-bgc;
    background-blend-mode: overlay;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.footer__item {
    margin-left: 30px;

    &:nth-child(1) {
        margin: 0;
    }
}
.item-footer__link {
    text-decoration: none;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .footer {
        background-image: url("../images/bgi-header@2x.png");
    }
} 