.intro {
    position: relative;
    padding: 116px 0 243px;
    background-color: $header-intro-footer-bgc;
    background-image: url("../images/img2.png"), url("../images/bgi-header.png");
    background-repeat: no-repeat;
    background-size:  710px 696px, 100%;
    background-position: calc(50% + 405px) bottom, center center;
    background-blend-mode: normal, overlay;

    &::before {
        position: absolute;
        top: -60px;
        left: calc(50% - 27px);
        display: block;
        width: 160px;
        height: 160px;
        background-image: url("../images/img1.png");
        background-repeat: no-repeat;
        background-size: 160px 160px;
        content: '';
    }
}
.inner-intro {
    width: 584px;
    padding-left: 120px;
}
.inner-intro__title {
    margin: 0 0 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: $second-text-color;
    transition: all 0.4s ease;
}
.inner-intro__text {
    margin: 0 0 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $second-text-color;
    transition: all 0.4s ease;
}
.inner-intro-link {
    display: inline-block;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: $third-text-color;
    text-decoration: none;
    background: $work-bgc;
    border-radius: 100px;
    border: 3px solid transparent;
    transition: all 0.4s ease;
}
.inner-intro__img {
    position: absolute;
    top: -10%;
    left: 50%;
    transition: all 0.3s ease;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .intro {
        background-image: url("../images/img2@2x.png"), url("../images/bgi-header@2x.png");
    }
    .intro::before {
        background-image: url("../images/img1@2x.png");
    }
} 