.pick {
    position: relative;
    padding: 20px;
}
.pick__illustration {
    padding: 80px 0;
    background-image: url("../images/bgi-work.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-color: $work-bgc;
    background-blend-mode: overlay;
}
.pick-list {
    margin-bottom: 0;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    .pick__illustration {
        background-image: url("../images/bgi-work@2x.png");
    }
}